@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.container {
	width: 100%;	
	-webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.6);
}

.product-name-row {
	// border-bottom: 1px solid red;
}

.header-text , .footer-text {
	font-size: 12px;
	font-family: 'Calibri';
	a {
		color: #ffffff !important;
	}
}

.footer-text {
	width: 300px;
	a {
		color: #fff;
		text-decoration: underline;
	}
}

.header-text-left , .footer-text-left {
	float: left;
	p {
		color: #fff;
		padding-top: 30px;
		padding-left: 10px;
	}
}

.footer {
	width: 100%;
	background-color: #3f353d;
}

.footer-text-right {
	width: 200px;
	float: right;
	p {
		padding-top: 30px;
		color: #fff;
	}
}

.social{
	img {
		margin-right: 5px;
		display: inline-block;
	}
}

.menu {
	list-style-type: none;
	li {
		display: inline-block;
		margin: 15px 20px;
		text-transform: uppercase;
	}
	a{
		font-family: 'OptimaBold';
		font-weight: 400;	
		font-size: 12px;
		color: #000 !important;		
	}
}

.header {
	padding: 0 !important;
}

table.container {
	// max-width: 700px !important;
	// min-width: 300px !important;
	width: 580px;
}

table.container table.row {
	width: 100%;
}

.header-text-right {
	float: right;
	p {
		display: inline-block;
		margin: 0 10px;
		padding-right: 10px;
	}
}

.wrapper-container {
	height: 255px;
	background-image: url('http://croctest.site/img/pandora/Slice_5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.text-hello {
	img , span {
		margin: 20px 5px;
		font-size: 18px;
		font-family: 'Optima';
		display: inline-block;
		vertical-align: middle;
	}
}

.product-text {
	vertical-align: middle;
	.no-upp {
		text-transform: none;
	}
	span {
		font-family: 'Optima';
		font-size: 12px;
		text-transform: uppercase;
	}
}

.first {
	margin-left: 20px;
}

hr {
	width: 100%;
	margin-top: -2px;
	margin-bottom: 0;
}

.img-left {
	float: left;
	height: 90px;
}

.product-name {
	vertical-align: middle;
	span {
		font-family: 'Optima';
		font-size: 12px;
		text-transform: uppercase;
	}
}

.result , .result-bold {
	display: block;
	width: 200px;
	.result-summ {
		font-family: 'Optima';
		font-size: 12px;
		text-transform: uppercase;
	}

	.result-summ-bold {
		font-family: 'Optima';
		font-size: 12px;
		font-weight: 700;
		margin-left: 20px;
		text-align: left;
		float: right;
	}
}

.result-bold {
	font-weight: 700;
	margin-top: 20px;
}

.withlove {
	font-family: 'Optima';
	font-size: 16px;
}

.footer-head {
	background-color: #f4f4f4;
	padding: 30px 0;
	width: 90px;
	img {
		float: left;
		margin-right: 10px;
		height: 29px;
	}
}

.footer-header-h {
	font-family: "Optima";
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.16px;
}

.right-text {
	font-family: 'Optima';
	font-size: 11px;
	text-transform: uppercase;
	width: 200px;
	font-weight: 700;
	p {
		font-family: 'Optima';
		font-size: 11px;
		text-transform: none;
		font-weight: 700;
	}
}
